body {
   background: url("../img/bgc.jpg") no-repeat bottom left;
   background-size: 100% 100%;

 }
a {
  display: block;
  width: 3.09rem;
  height: 0.83rem;
  background-size: 100% 100%;
  margin: 3.36rem auto;
  border: 1px solid transparent;
  box-sizing: content-box;
}
