@charset "utf-8";

*{ margin:0px; padding:0px;}
a{ text-decoration:none;color: #968687;}
ul,ul li{ list-style:none;}
html,body{/*font-size:20px; font-family:"microsoft yahei"; height: 100%;*/
font: normal 100% Helvetica, Arial, sans-serif;
}
/*样式重置*/
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0; vertical-align: top}
li{list-style:none}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
button,input[type="submit"]{border:none;background:none;appearance:none;outline:none}
input,textarea  {border:none;background:none;appearance:none;outline:none}
a{touch-callout:none;text-decoration:none;}
em, i{font-style:normal}
b{ font-weight: 100;}

