body {

}
.bg{
    position: absolute;
    background: url("../../img/one.jpg") no-repeat top left;
    background-size: 6.4rem 10.38rem;
    height: 10.38rem;
    width: 6.4rem;
}

div {
    height: .98rem;
    width: 100%;
}
